@import 'tailwindcss';
@plugin "daisyui" {
	themes:
		light --default,
		dark --prefersdark,
		cupcake,
		lofi,
		synthwave,
		retro,
		cyberpunk,
		valentine,
		halloween,
		garden,
		forest,
		aqua,
		corporate;
}
